.firstpagedivone{
    background-color:rgba(0, 0, 0, 0.674);
    color: white;
    padding: 50px;
}
.firstpagebutton{
    background-color: #ff6600;
    color: white;
    padding: 5px;
}
.firstpagebottom{
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.548);
}
.firstplab{
    padding-right: 185px;
    font-size:medium;
}
.cardlistone{
    margin-left: 200px;
    margin-top: 100px;
}
.cardlabelone{
    margin-left: 100px;
}
.cardlisttwo{
    margin-left: 200px;
    margin-top: 100px;
}
.productshead{
    color: #ff6600;
}
.secondpagehead{
    background-color: aliceblue;
    padding: 10px;
}
.price{
    color: #ff6600;
}