.parastart{
    text-align: left;
}
.footbgtech{
    margin-top: 50px;
    background-color: #ff6600; 
    color: white;
    padding: 10px;
}
.ml{
    padding-left: 100px;
  
}
.sociallog{
    padding-right: 20px;
}
